$t: 2s;
$d: 0.08em;
$n: 3;
$e: cubic-bezier(0.860, 0.000, 0.070, 2.000); 
$front: $white;
$back: violet;

.popout {
	font-family: Futura, sans-serif;
    font-weight: 900;
    padding: 30px 10%;
    margin: -90px 0 0 0;
    position: absolute;
    display: flex;
    flex-direction: column;
	justify-content: center;

	@keyframes ani{
		0%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em $back;
			color: $front;
			opacity: 0;
		}
		40%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em $back;
			color: $front;
		}
		90%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $back;
			color: $front;
		}
		100%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $back;
			color: $front;
		}
	}
	span{
		position: relative;
		display: inline-block;
		font-size: 9vw;
		animation: ani $t infinite alternate $e;
		@for $i from 1 through $n{
			&:nth-last-child(#{$i}n){ 
				animation-delay: -$t*$i/$n/2;
			}
		}
	}	
}