.img {
    width: 20%;    
}

.container {
    display: flex;
    justify-content: center;  
    align-items: center;
    margin: 30px; 
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}