.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.square-bg {
    background-image: url('../img/lamp-square.png');
    width: 430px;
    height: 400px;
    margin: 70px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}
.name, .profession {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
}
.name{
    justify-content: center;
    margin: 0;
    width: 120%;
    &--size {
        font-size: 6em;
    }
}
.profession {
        color: $dark-purple;
        position: relative;
        width: 80%;
        margin-top: 90px; 
}

@media (max-width : 375px) {
    .square-bg {
        width: 300px;
        height: 300px;
        margin: 0;
    }
    .name {
        width: 0;
        &--size {
            font-size: 3em;
        }
    }
    .profession {
        width: 80%;
    }
}

@media (max-width: 667px) and (orientation: landscape) {
    .square-bg {
        width: 230px;
        height: 230px;
        margin: 0;
    }
    .name--size {
        font-size: 3em;
    }
    .profession {
        font-size: 0.8em;
        width: 90%;
    }

  }