//Palette
$light-gray: #F3F3F3;
$lighter-purple: #F0E9F9;
$light-purple: #C2CAFF;
$yellow: #FFEC67;
$dark-purple: #1E152A;
$light-green: #CEE976;
$dark-green: #4E6766;
$dark-esmeralda: #5AB1BB;
$olive: #A5C882;
$blue: #5484CC;
$white: white;

$transparent:rgba(255,0,0,0);

$buttonWidth: 30px;
$buttonHeight: 26px;
$buttonColor: darken(#2B32B2, 15%);
$lineThickness: 4px;
$transitionSpeed: .25s;
$transitionEasing: ease-in-out;
